.vscode/
build/
dist/
*.egg-info/
__pycache__
.ipynb_checkpoints/
.DS_Store
**.pyc
*.txt
**/outputs/
**/wandb/
**/exp/
**/exp_local/
data/
eval/
assets/
**.pth
**.npz
core
**.log
*.jsonl
*.ipynb
*logs
nohup.out
datas
scripts
workdir
*.sh
kb_configs
*.md
script*
data